QLineEdit {
    font-size: 16px;
    border-radius: 15px;
    border: 2px solid rgb(255, 92, 74);
    padding: 10px;
}

QPlainTextEdit {
    font-size: 16px;
    border-radius: 15px;
    border: 2px solid rgb(217, 217, 217);
    padding: 10px;
}
