QPushButton {
    font-size: 16pt;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 207, 131);
    border-radius: 10px;
    padding: 10px;
}

QPushButton:hover {
    background-color: rgb(8, 184, 116);
}

QPushButton:!enabled {
    color: rgb(200, 200, 200);
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(200, 200, 200);
}
